<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="form-margin-top"></div>
      <div class="row justify-content-center mb-1">
        <h3>New Task</h3>
          <%= render 'form', task: @task %>
      </div>
    </div>
  </div>
</div>