// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-margin-top {
  margin-top: 50px;
}

.form-panel-body {
  background: #f2f2f2;
  padding: 20px;
}