// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-margin-top {
  margin-top: 50px;
}

.task-margin-bottom {
  margin-top: 30px;
}

.form-panel-body {
  background: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control.is-invalid{
  background-image: none;
}

.form-control.is-valid{
  background-image: none;
}

.task-table {
  width: 100%;
}

.task-thead {
  border-bottom: 1px solid #28a744;
}

td {
  padding: 7px;
  text-align: left;
}

tr:nth-child(even) {background-color: #f8f9fa;}

.task-th {
  padding: 7px;
  text-align: left;
}

