<div class="modal fade" id="exampleModal<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link_to 'Destroy', task, method: :delete, :class => "btn btn-danger btn-sm active" %>
      </div>
    </div>
  </div>
</div>